<!doctype html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta property="og:site_name" content="Dotface">
    <meta property="og:url" content="https://wianbu.github.io/books/제국의위안부/">
    <meta property="og:title" content="제국의 위안부">
    <meta property="og:description" content="식민지 지배와 기억의 투쟁">
    <meta property="og:image" content="https://wianbu.github.io/books/%EC%A0%9C%EA%B5%AD%EC%9D%98%EC%9C%84%EC%95%88%EB%B6%80/ogp.png">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://wianbu.github.io/books/제국의위안부/">
    <meta name="twitter:title" content="제국의 위안부">
    <meta name="twitter:description" content="식민지 지배와 기억의 투쟁">
    <meta name="twitter:image" content="https://wianbu.github.io/books/%EC%A0%9C%EA%B5%AD%EC%9D%98%EC%9C%84%EC%95%88%EB%B6%80/ogp.png">
    <meta name="Author" content="박유하">
    <meta name="keywords" content="제국의 위안부, 박유하, 朴裕河, Yuha Park, Yu-ha Park, 한국정신대문제대책협의회, 정대협, 나눔의집, 위안부">
    <meta name="description" content="박유하 교수의 저서 '제국의 위안부' E-Book 입니다.">
    <link rel="stylesheet" href="/books/제국의위안부/github-markdown.css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        .nav {
            margin: 0 auto;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
</head>

<body>
    <div class="markdown-body">
        <div class="nav">
            <div>
                {{ home_link|safe }}
            </div>
            <div>
                {{ prev_link|safe }}
            </div>
            <div>
                {{ next_link|safe }}
            </div>
        </div>
        {{ content|safe }}
        <div class="nav">
            <div>
                {{ home_link|safe }}
            </div>
            <div>
                {{ prev_link|safe }}
            </div>
            <div>
                {{ next_link|safe }}
            </div>
        </div>
    </div>
</body>

</html>