<!doctype html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta property="og:site_name" content="제국의 위안부">
    <meta property="og:url" content="https://voiceofearp.github.io/website/books/제국의위안부/">
    <meta property="og:title" content="제국의 위안부">
    <meta property="og:description" content="‘위안부 문제’에 대해 쓰는 또 하나의 이유는 이 문제가 단지 ‘해결’을 기다리는 과거의 문제가 아니라 오늘의 문제이기도하기 때문이다.">
    <meta property="og:image" content="https://voiceofearp.github.io/website/books/제국의위안부/ogp.png">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://voiceofearp.github.io/website/books/제국의위안부/">
    <meta name="twitter:title" content="제국의 위안부">
    <meta name="twitter:description" content="‘위안부 문제’에 대해 쓰는 또 하나의 이유는 이 문제가 단지 ‘해결’을 기다리는 과거의 문제가 아니라 오늘의 문제이기도하기 때문이다.">
    <meta name="twitter:image" content="https://voiceofearp.github.io/website/books/제국의위안부/ogp.png">
    <meta name="Author" content="박유하">
    <meta name="keywords" content="제국의 위안부, 박유하, 朴裕河, Yuha Park, Yu-ha Park, 한국정신대문제대책협의회, 정대협, 나눔의집, 위안부">
    <meta name="description" content="박유하 교수의 저서 '제국의 위안부' E-Book 입니다.">
    <link rel="stylesheet" href="/website/books/제국의위안부/github-markdown.css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        .nav {
            margin: 0 auto;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118013522-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-118013522-1');
    </script>
</head>

<body>
    <div class="markdown-body">
        <div class="nav">
            <div>
                {{ home_link|safe }}
            </div>
            <div>
                {{ prev_link|safe }}
            </div>
            <div>
                {{ next_link|safe }}
            </div>
        </div>
        {{ content|safe }}
        <div class="nav">
            <div>
                {{ home_link|safe }}
            </div>
            <div>
                {{ prev_link|safe }}
            </div>
            <div>
                {{ next_link|safe }}
            </div>
        </div>
    </div>
</body>

</html>